.App #main-body {
  box-shadow: rgb(0, 0, 0, 0.45);
  margin-top: 30px;
  width: 100%;
  max-width: 800px;
background: rgb(233,238,242);
background: radial-gradient(circle, rgba(233,238,242,1) 19%, rgba(255,255,255,1) 100%);
}

@media (min-width: 500px) { 
 .App {
   font-size: 18px;
 }
}
.App #coder {
  text-align: center;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  color: #213044;
  padding-top: 10px;
  padding-left: 100px;
}

.App #github-link {
  text-decoration: none;
  color: black;
}

.App #github-link:hover {
  text-decoration: underline;
}
