.weatherForecast {
  text-align: center;
  width: 100%;
  height: 100%;
  min-width: 100px;
  padding-top: 15px;
}

.weatherForecast canvas {
  display: block;
  margin: 0 auto;
}

#day-of-the-week {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding-bottom: 3px;
}
@media (min-width: 570px) {
  #day-of-the-week {
    font-size: 17px;
  }
}

#forecast-card {
  text-align: center;
}

#forecast-img canvas {
  width: 60%;
  display: block;
  margin: auto 25px;
}
@media (min-width: 300px) {
  #forecast-img canvas {
    min-width: 60%;
  }
}

#weeks-tempature {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800;
  font-size: 15px;
  padding-top: 3px;
  margin-bottom: 3px;
}
@media (min-width: 570px) {
  #weeks-tempature {
    font-size: 18px;
  }
}

#description-of-temp {
  padding-top: 3px;
  margin-bottom: 8px;
  margin-left: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
@media (min-width: 570px) {
  #description-of-temp {
    font-size: 17px;
  }
}
