

#search-for-city {
padding-top: 25px;
}

#search-city {
  font-family: "Noto Sans JP", sans-serif;
  font-style: italic;
  display: block;
  margin: 0 auto;
  font-weight: 300;
  color: #707070;
  border-radius: 100px;
  border-color: #213044;
  border-width: 1px;
  width: 70%;
  min-width: 50px;
  height: 35px;
  margin-left: 25%;
  padding-left: 20px;
  padding-right: 15px;
  vertical-align: middle;
}

#submit-button {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  border-radius: 100px;
  background: #213044;
  border-color: 213044;
  border-width: 2px;
  color: #ffff;
  vertical-align: middle;
  width: 16%;
  height: 35px;
  display: block;
  margin: auto 0;
}

#submit-button:hover {
  background: #213044;
  border-color: #213044;
  opacity: 90%;
  border-width: 2px;
}

#search-img {
  max-width: 20px;
  display: block;
  margin: 0 auto;
  color: #ffff;
}
#search-form {
  vertical-align: middle;
}
#main-city {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800;
  font-size: 35px;
  text-align: center;
  padding-top: 3%;
  color: #213044;
}

#todays-date {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  color: #213044;
}
#current-temp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800;
  font-size: 35px;
  text-align: center;
  padding-left: 45%;
  color: #213044;
}

#fahrenheit-main {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 0px;
  padding-left: 46px;
  color: #213044;
  text-decoration: none;
}

#fahrenheit-main:hover {
  text-decoration: none;
  font-weight: 800;
}

#slash-main {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 0px;
  padding-left: 5px;
  color: #213044;
  text-decoration: none;
}
#celsius-main {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 0px;
  padding-left: 5px;
  color: #213044;
  text-decoration: none;
}
#celsius-main:hover {
  text-decoration: none;
  font-weight: 800;
}

.App #current-weather-img {
  width: 30%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin: 0 auto;
  display: block;
  padding-left: 6%;
}

#current-weather-attributes-description {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 2%;
  padding-left: 20%;
  color: #213044;
}
#current-weather-attributes-humidity {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 2%;
  padding-left: 20%;
  color: #213044;
}

#current-weather-attributes-windspeed {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 2%;
  padding-left: 20%;
  color: #213044;
}

.loader canvas {
  display: block;
  margin: 0 auto;
}