

#search-for-city {
padding-top: 25px;
}
#search-form {
vertical-align: center;
}

#search-city {
  font-family: "Noto Sans JP", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #707070;
  border-radius: 100px;
  border-color: #213044;
  border-width: 1px;
  width: 100%;
  height: 35px;
  padding-left: 20px;
  padding-right: 15px;
  vertical-align: center;
}
@media (min-width: 570px) { 
#search-city {
     width: 70%;
       display: block;
       margin: 0 auto;
 }
}

#submit-button {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  border-radius: 100px;
  background: #213044;
  border-color: 213044;
  border-width: 2px;
  color: #ffff;
  width: 20%;
  height: 35px;
  display: block;
  margin: 0 auto;
 
}
@media (min-width: 570px) { 
#submit-button {
     width: 50%;
 }
}

#submit-button:hover {
  background: #213044;
  border-color: #213044;
  opacity: 90%;
  border-width: 2px;
}

#search-img {
  max-width: 20px;
  display: block;
  margin: 0 auto;
  color: #ffff;
}
#search-form {
  vertical-align: middle;
}
#main-city {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  padding-top: 3%;
  color: #213044;
}
@media (min-width: 570px) { 
#main-city {
     font-size: 35px;
 }
}



#current-temp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  padding-left: 45%;
  color: #213044;
}
@media (min-width: 570px) { 
#todays-date {
     font-size: 35px;
 }
}
#todays-date {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
  color: #213044;
}
#fahrenheit-main {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 0px;
  padding-left: 46px;
  color: #213044;
  text-decoration: none;
}

#fahrenheit-main:hover {
  text-decoration: none;
  font-weight: 800;
}

#slash-main {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 0px;
  padding-left: 5px;
  color: #213044;
  text-decoration: none;
}
#celsius-main {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 0px;
  padding-left: 5px;
  color: #213044;
  text-decoration: none;
}
#celsius-main:hover {
  text-decoration: none;
  font-weight: 800;
}

#current-weather-img {
  width: 30%;
  padding-top: 0%;
  padding-bottom: 0%;
  display: block;
  margin: 0 auto;
  padding-left: 6%;
}

#current-weather-attributes-description {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  padding-top: 2%;
  padding-left: 20%;
  color: #213044;
}
@media (min-width: 570px) { 
#current-weather-attributes-description {
     font-size: 20px;
 }
}

#current-weather-attributes-humidity {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  padding-top: 2%;
  padding-left: 20%;
  color: #213044;
}
@media (min-width: 570px) { 
#current-weather-attributes-humidity {
     font-size: 20px;
 }
}
#current-weather-attributes-windspeed {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  padding-top: 2%;
  padding-left: 20%;
  color: #213044;
}
@media (min-width: 570px) { 
#current-weather-attributes-windspeed {
     font-size: 20px;
 }
}